In [1]:
import team_utils as tu
import pandas as pd
import requests
from tqdm import tqdm

In [2]:
url = 'http://ddragon.leagueoflegends.com/cdn/13.8.1/data/ko_KR/champion.json'

def ChampSkin(url):
    res = requests.get(url).json()
    df_origine = pd.DataFrame(res)
    
    df_info = []
    for k in range(len(df_origine['data'])):
        lst1=[]
        lst1.append(int(df_origine.iloc[k]['data']['key']))
        lst1.append(df_origine.iloc[k]['data']['id'])
        lst1.append(df_origine.iloc[k]['data']['name'])
        
        df_info.append(lst1)
    col = ['championId','championName','championName_KR']
    df_info = pd.DataFrame(df_info,columns=col)
    
    result=[]
    col = ['champion_id','skin_id','skin_num','skin_name','skin_chromas']
    for i in tqdm(range(len(df_info))):
        lst3=[]
        name = df_info.iloc[i]['championName']
        url2 = f'http://ddragon.leagueoflegends.com/cdn/13.8.1/data/ko_KR/champion/{name}.json'
        res2 = requests.get(url2).json()

        for j in res2['data'][name]['skins']:
            lst2=[]
            lst2.append(df_info.iloc[i]['championId'])
            lst2.append(j['id'])
            lst2.append(j['num'])
            lst2.append(j['name'])
            if j['chromas'] == False:
                lst2.append(0)
            elif j['chromas'] == True:
                lst2.append(1)

            result.append(lst2)
        df=pd.DataFrame(result,columns=col)
    return df

In [3]:
a = ChampSkin(url)
a

100%|████████████████████████████████████████████████████████████████████████████████| 163/163 [00:02<00:00, 55.91it/s]

      champion_id skin_id  skin_num        skin_name  skin_chromas
0             266  266000         0          default             0
1             266  266001         1         정의의 아트록스             0
2             266  266002         2          메카 아트록스             1
3             266  266003         3      바다 사냥꾼 아트록스             0
4             266  266007         7         핏빛달 아트록스             0
...           ...     ...       ...              ...           ...
1677          143  143005         5        악의 여단 자이라             1
1678          143  143006         6  프레스티지 악의 여단 자이라             0
1679          143  143007         7        수정 장미 자이라             1
1680          143  143016        16     범죄 도시 악몽 자이라             1
1681          143  143036        36       신화 창조자 자이라             1

[1682 rows x 5 columns]